version: "3.8"

services:
  backend:
    build: ./backend
    image: backend:${IMAGE_TAG}
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo_local

  frontend:
    build: ./frontend
    image: frontend:${IMAGE_TAG}
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    build: ./admin
    image: admin:${IMAGE_TAG}
    ports:
      - "3001:80"
    depends_on:
      - backend

  mongo_local:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    driver: local